* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "zabars";
  src: url("../fonts/zabars.ttf") format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url("../img/5_background/desert.png");
  font-family: "zabars", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  margin-bottom: 80px;
}

h2 {
  font-size: 64px;
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 48px;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.canvas-and-gamescreens {
  position: relative;
  width: 720px;
  height: 480px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.gameoverscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 480px;
  width: 720px;
  display: none;
}

#score {
  position: relative;
  transform: translateY(153px);
  text-align: center;
  z-index: 3;
  font-size: 40px;
  color: orange;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 1px;
  gap: 40px;
}

button {
  font-size: 50px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: orange;
  cursor: pointer;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.up-arrow {
  margin-bottom: 10px;
}

.left-right-arrows {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.how-to-play-arrows {
  height: 50px;
  width: 50px;
}

#arrow-up {
  transform: rotate(180deg);
}

#arrow-left {
  transform: rotate(90deg);
}

#arrow-right {
  transform: rotate(-90deg);
}

.throw-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#D_Key {
  transform: rotate(38deg);
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 720px) {
  .canvas-and-gamescreens {
    width: 100%;
  }
  .buttons {
    gap: 5px;
  }
}

@media only screen and (max-height: 480px) {
  .canvas-and-gamescreens {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}
