* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "zabars";
  src: url("../fonts/zabars.ttf") format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url("../img/5_background/desert.png");
  font-family: "zabars", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  margin-bottom: 80px;
}

h2 {
  font-size: 64px;
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 48px;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.canvas-and-gamescreens {
  position: relative;
  width: 720px;
  height: 480px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  display: block;
}

.gameoverscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 480px;
  width: 720px;
  display: none;
}

#score {
  position: relative;
  transform: translateY(153px);
  text-align: center;
  z-index: 3;
  font-size: 40px;
  color: orange;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 1px;
  gap: 40px;
}

button {
  font-size: 50px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: orange;
  cursor: pointer;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.up-arrow {
  margin-bottom: 10px;
}

.left-right-arrows {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.how-to-play-arrows {
  height: 50px;
  width: 50px;
}

#arrow-up {
  transform: rotate(180deg);
}

#arrow-left {
  transform: rotate(90deg);
}

#arrow-right {
  transform: rotate(-90deg);
}

.throw-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#D_Key {
  transform: rotate(38deg);
  height: 150px;
  width: 150px;
}

.mobile-controls {
  z-index: 4;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: -386px;
  left: 10px;
  display: none;
}

.control-btn {
  font-size: 20px;
  padding: 15px 15px;
  background-color: rgba(255, 166, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.control-btn:active {
  background-color: rgba(255, 140, 0, 0.5);
}

#btn-up {
  transform: translate(-126px, -86px);
}
#btn-salsa {
  transform: translatex(373px);
}

#mobile-arrow-left {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
}
#mobile-arrow-right {
  height: 50px;
  width: 50px;
  transform: rotate(-90deg);
}
#mobile-arrow-up {
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
}
#mobile-salsa {
  height: 50px;
  width: 50px;
  bottom: 500px;
  transform: rotate(45deg);
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .canvas-and-gamescreens {
    width: 100%;
  }
  .buttons {
    gap: 5px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .canvas-and-gamescreens {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}

/* Media query for larger mobile devices in landscape orientation */
@media only screen and (max-width: 950px) and (orientation: landscape) {
  .mobile-controls {
    display: flex;
  }
}
