* {
  font-size: clamp(0.3rem, 1vw + 0.5vh, 1.2rem);
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "zabars";
  src: url("../fonts/zabars.ttf") format("truetype");
}

body {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("../img/5_background/desert.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body.impressum-page {
  overflow: visible; /* Override for the Impressum page */
  background-repeat: repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}

h1 {
  margin-top: 3vh;
  font-size: clamp(1.5rem, 3vw + 20px, 4rem);
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  text-align: center;
}

h3 {
  font-size: clamp(1rem, 2vw, 2.5rem);
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.canvas-and-gamescreens {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

canvas {
  width: 100%;
  height: auto;
  background-color: black;
  display: block;
}

.fullscreen-pause {
  display: none;
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 4;
}

.fullscreen-pause img {
  height: 48px;
}

.gameoverscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 480px;
  display: none;
}

#score {
  position: absolute;
  left: 50%; /* Move the left side of the element to the center of the parent */
  top: 32.3%;
  transform: translateX(-50%);
  z-index: 5;
  font-size: 40px;
  color: orange;
  text-align: center; /* Centers text within the element, useful if it spans multiple lines */
}

button {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: orange;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

#startButton {
  margin-bottom: 10px;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.controls-move,
.controls-throw {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-arrows {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.controls-arrows {
  height: clamp(0.5rem, 1.5vw + 1vh, 1.5rem);
  width: clamp(0.5rem, 1.5vw + 1vh, 1.5rem);
}

.controls-arrows + .controls-arrows {
  margin-left: 5px;
}

#move-up {
  transform: rotate(180deg);
  margin-bottom: 5px;
}

#move-left {
  transform: rotate(90deg);
}

#move-right {
  transform: rotate(-90deg);
}

#D_Key {
  transform: rotate(38deg) translate(20px, 20px);
  margin-top: -30px;
  height: clamp(1.5rem, 4.5vw + 3vh, 4.5rem);
  width: clamp(1.5rem, 4.5vw + 3vh, 4.5rem);
}

.mobile-controls {
  z-index: 4;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 5px;
  bottom: 5px;
  display: none;
}

.control-btn {
  font-size: 0.8rem;
  padding: 10px;
  background-color: rgba(255, 166, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.control-btn:active {
  background-color: rgba(255, 140, 0, 0.5);
}

#btn-up {
  transform: translate(-80px, -60px);
}
#btn-salsa {
  margin-right: 10px;
}

#mobile-arrow-left {
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
}
#mobile-arrow-right {
  height: 30px;
  width: 30px;
  transform: rotate(-90deg);
}
#mobile-arrow-up {
  height: 30px;
  width: 30px;
  transform: rotate(180deg);
}
#mobile-salsa {
  height: 30px;
  width: 30px;
  bottom: 500px;
  transform: rotate(45deg);
}

#rotate {
  height: 200px;
  display: none;
}

.htp-and-buttons {
  display: flex;
  flex-direction: column;
}

#impressumButton {
  position: absolute;
  top: 10vh;
  left: 10vw;
}

.impressum {
  margin: 100px;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.impressum p {
  margin-top: 15vh;
  font-size: clamp(1rem, 3vw + 1.5vh, 3rem);
}

.back-link {
  margin-top: 5vh;
  margin-left: 5vw;
  position: absolute;
  cursor: pointer;
  width: 10%;
}

#fullscreen {
  display: none;
  top: 0.75%;
  right: 11%;
}
#pause-button {
  display: none;
  top: 0.75%;
  right: 0.75%;
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .canvas-and-gamescreens {
    height: 100vh;
  }
  h1 {
    display: none;
  }

  h3 {
    font-size: 24px;
  }
  #impressumButton {
    display: none;
  }
}

/* Media query for larger mobile devices in normal orientation */
@media only screen and (max-width: 950px) {
  .canvas-and-gamescreens {
    display: none;
  }

  #startButton {
    display: none;
  }
  #rotate {
    display: block;
  }
  .buttons {
    display: none;
  }
  .how-to-play {
    display: none;
  }
  .container {
    gap: 25vh;
  }
}

@media only screen and (max-width: 1200px) {
  #impressumButton {
    left: 1vw;
  }
}

/* Media query for larger mobile devices in landscape orientation */
@media only screen and (max-width: 950px) and (orientation: landscape) {
  #startButton {
    transform: translatey(-100px);
    z-index: 50;
  }

  .canvas-and-gamescreens {
    display: block;
  }

  #startButton {
    display: block;
  }

  .buttons {
    display: none;
  }

  .mobile-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  canvas {
    height: 100%;
    width: 100%;
  }
  #rotate {
    display: none;
  }

  #startButton {
    transform: translatey(-160px);
  }
}
@media only screen and (max-height: 480px) {
  #startButton {
    margin: 0;
    transform: translatey(-60px);
  }
}

@media only screen and (max-height: 600px) {
  .buttons {
    display: none;
  }
  .how-to-play {
    display: none;
  }
}

@media only screen and (max-height: 900px) {
  * {
    font-size: 18px;
  }
  h1 {
    display: none;
  }
  .how-to-play {
    margin-top: -50px;
  }
}

@media only screen and (max-height: 1000px) {
  .htp-and-buttons {
    flex-direction: row;
  }

  .buttons {
    width: normal;
    height: 100px;
  }
}
